.header {
  background-color: rgb(33, 37, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px rgba(65, 65, 65, 0.751) solid;
  position: fixed;
  height: 60px;
  left: 0;
  right: 0;
  top: 0;
}

.left-header {
  align-items: end;
  display: flex;
  justify-content: start;
}

.logo {
  height: 36px;
  width: 36px;
  margin-left: 16px;
}

.middle-header {
  color: white;
  font-weight: 400;
  font-size: 16px;
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.home-icon,
.features-icon,
.pricing-icon,
.about-icon {
  padding: 0 8px 0 8px;
  cursor: pointer;
  margin: 0;
}

.right-header {
  width: 220px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.login {
  font-size: 14px;
  background-color: rgb(33, 37, 41);
  color: white;
  margin: 0 10px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s, color 0.1s;
}

.login:hover {
  background-color: white;
  color: rgb(33, 37, 41);
}

.sign-up {
  font-size: 14px;
  background-color: rgb(255, 193, 7);
  color: rgb(33, 37, 41);
  border: 1px solid rgb(255, 193, 7);
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s;
  text-wrap: nowrap;
}

.sign-up:hover {
  background-color: rgb(255, 208, 67);
}
